.footer {
  display: flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
}
.f-content {
  /* margin-top: 1rem; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 6rem;
  gap: 4rem;
  color: white;
}
.i-icons {
  margin-top: 3rem;
  display: flex; /* Use flex container to create a row */
  gap: 1rem; /* Add some gap between the icons */
}

.i-icons > * {
  transform: scale(0.5);
}

.i-icons > *:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.5);
  }
}
